body{
    background-color: #13181B;
    image-rendering: pixelated;
    text-align: center;
}
h2{
    color: white;
    font-family: arial;
}
.monitor{
    width: 100vh;
    height: 97vh;
    display: inline-block;
    position: relative;
}
.screen{
        overflow:hidden;
        width: 85.8%;
        height: 68.5%;
        position: absolute;
        top: 7.4%;
        left: 7.1%;
}
.icon{
    font-size: 1.6vh;
    color: lightgrey;
    cursor: pointer;
}

.icons{
    text-align: center;
    width: 80vh;
    height: 90%;
    position: absolute;
    top: 1%;
    left: 1%;
    text-decoration: none;
    font-size: 10pt;
    font-family: sans-serif;
}
.iconImage{
    height: 5vh;
    max-height: 7vh;
    margin-top: 5px;
}
.iconColumn{
    width: 1vh;
    padding-right: 1.8vh;
}
.startButton{
    width: 8%;
    position: absolute;
    left: 0.5%;
    top: 95%;
}
.contactWindow{
    display: none;
}
.contactWindowBackground{
    position: absolute;
    left: 17%;
    top: 14%;
    height: 67%;
    width: auto;
}
.windowTabPressed{
    position: absolute;
    top: 95%;
    left: 9%;
    height: 4.3%;
}
.contactWindowTabText{
    position: absolute;
    top: 96%;
    left: 9.5%;
    height: 2.5%;
}
.contactLinkDiv{
    position: relative;
    top: 14vh;
    left: 18.8%;
    width: 59%;
    height: 7vh;
}
.contactLink{
    width: 13%;
    height: 100%;
    position: relative;
    float: left;
    margin-right: 3%;
}
.close{
    position: relative;
    top: 10vh;
    left: 79.5%;
    width: 2vh;
    height: 2vh;
}
.close2{
    position:absolute;
    top: 6.5%;
    left: 97%;
    width: 2%;
    height: 2.3%;
}
.multiplayerWindow{
    position: absolute;
    top: 6%;
    left: 7.4%;
    height: 70%;
}
.serverInfo{
    text-align: left;
    position: absolute;
    left: 20%;
    top: 19%;
    height: 37%;
    width: 70%;
    color: white;
    font-family: MinecraftiaRegular;
}
.serverTitle{
    font-family: MinecraftiaRegular;
    position: absolute;
    top: -7%;
    left: 15%;
}
.minecraftServerWindow{
    display: none;
}
.playersOnline{
    font-size: 0.8em;
    position: relative;
    top: 7.8vh;
    left: 9.3vh;
}
.innerPlayersOnline{
    margin-top: 0.2vh;
    color: grey;
    width: 50vh;
}
#rest{
    font-family: MinecraftiaRegular;
    font-size: 0.8em;
    color: grey;
    position: absolute;
    top: 11%;
    left: 15.3%;
}
#players{
    position: absolute;
    top: -1%;
    left: 90%;
}
#serverIcon{
    position: absolute;
    height: 7vh;
    width: 7vh;
    top: 0.5%;
    left: 2%;
}
#clock{
    color: black;
    height:3.5%;
    width: 9.8%;
    position: absolute;
    left: 90%;
    top: 96%;
    text-align: center;
    font-size: 10pt;
    font-family: sans-serif;
}
#monitor{
    width: inherit;
    height: inherit;
}
#minecraftRefreshButton{
    top: 30vh;
    left: 29.5vh;
    width: 13vh;
    height: 4vh;
    position: relative;
}

/* Start menu styling */
#startmenu{
    display:none;
    font-family: "Microsoft Sans Serif";
    -webkit-font-smoothing: none;
    font-weight: bold;
    background-color:#C1BFC1;
    width: 30%;
    height: auto;
    position: absolute;
    bottom:3.5vh;
    left:0;
    border-style: groove;
}
#startmenu ul {
    margin:0;
    padding-left:10%;
}
#startmenu li {
    padding-top: 2px;
    padding-bottom: 2px;
    color:black;
    text-align: start;
    height:3vh;
    list-style-type: none;
    line-height: 3vh;
}
hr{
    padding:0;
}
#startmenu div{
    display:inline;
    position: absolute;
}
#startmenu img {
    display:inline;
    width:3vh;
    padding:2px;
}
#startmenu li:hover{
    background-color:#190081;
    color:white;
}
#sidetext{
    color:white;
    position:absolute;
    left: 0px;
    height: 100%;
    width: 10%;
    background: rgb(1,8,129);
    background: linear-gradient(0deg, rgba(1,8,129,1) 0%, rgba(2,28,255,1) 15%, rgba(1,8,129,1) 30%, rgba(1,8,129,1) 100%);

}
#v-text {
    writing-mode: vertical-lr;
    -webkit-transform: scale(-1,-1);
    position: absolute;
    bottom: 0.5vh;
    right: 3px;
}
.windowDefault {
    background-color:#BDBDBD;
    position: absolute;
    border-style: outset;
    border-width: 2px;
    padding:2px;
}
.windowContent{
    padding:0;
    background-color:white;
    width:100%;
    height:calc(100% - (1vh + 8px));
}
.windowTitle{
    float:left;
    position:relative;
    top:2px;
    left:6px;
    color:white;
    cursor: default;
}
.titleBar{
    background: rgb(0,7,123);
    background: linear-gradient(90deg, rgba(0,7,123,1) 0%, rgba(10,132,206,1) 100%);
    top:3px;
    width:100%;
    height:calc(1vh + 11px);
}
.titlebuttons{
    float:right;
    position:relative;
    top:1px;
    right:2px;
    cursor: pointer;
}
.titleButton{
    display:inline-block;
    background-color:#BDBDBD;
    border:outset;
    border-width:2px;
    width:1vh;
    height:1vh;
    font-family:"Microsoft Sans Serif";
    font-size: 1vh;
}
#titlebarTemplate{
    display:none;
}
